<div class="">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-1/2">
        <h1 class="text-2xl text-center my-4">Todos</h1>
        <form class="flex" action="/todos" method="POST">
          <input
            type="text"
            name="title"
            class="w-full border-2 border-gray-300 bg-transparent p-2 rounded-lg w-1/2"
            placeholder="Add a new todo"
            required
          />
          <input
            type="date"
            name="dueDate"
            class="w-full border-2 border-gray-300 bg-transparent p-2 rounded-lg w-2/5"
            required
          />
          <button
            type="submit"
            class="w-full bg-blue-500 text-white p-2 rounded-lg w-1/4"
          >
            Add Todo
          </button>
        </form>
        <table class="my-4 w-full text-center">
          <thead>
            <tr>
              <th class="border-2 border-gray-300 p-2">Title</th>
              <th class="border-2 border-gray-300 p-2">Due Date</th>
              <th class="border-2 border-gray-300 p-2">Completed</th>
              <th class="border-2 border-gray-300 p-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% todos.forEach(function(todo) { %>
            <tr>
              <td class="border-2 border-gray-300 p-2"><%= todo.title %></td>
              <td class="border-2 border-gray-300 p-2"><%= todo.dueDate %></td>
              <td class="border-2 border-gray-300 p-2">
                <% if (todo.completed) { %>
                <span class="text-green font-bold">✅</span>
                <% } else { %>
                <span class="text-red font-bold">❌</span>
                <% } %>
              </td>
              <td class="border-2 border-gray-300 p-2 flex justify-center">
                <!-- Mark Complete -->
                <form
                  action="/todos/<%= todo.id %>/complete"
                  method="POST"
                  class="mr-2"
                >
                  <button
                    type="submit"
                    class="bg-green-500 text-white p-2 rounded-full"
                  >
                    ✔
                  </button>
                </form>
                <!-- Edit -->
                <form
                  class="mr-2"
                  action="/todos/<%= todo.id %>/edit"
                  method="GET"
                >
                  <button class="bg-blue-500 text-white p-2 rounded-full">
                    🖊
                  </button>
                </form>
                <form class="mr-2" action="/todos/<%= todo.id %>/delete" method="POST">
                  <button class="bg-red-500 text-white p-2 rounded-full">
                    🗑
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
